body{

}

footer{
color:#ff6200;
font-family: 'Cantora One', sans-serif;
}

hr{
  color:#ff6200;
  font-family: 'Cantora One', sans-serif;
}

h1{
  color:#ff6200;
  font-family: 'Cantora One', sans-serif;

}

p{
  color:#ff6200;
  font-family: 'Cantora One', sans-serif;
}
